
.deck-container {
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQYV2MUfP7p/3tJPkYGAgBDAS6NBE2CWYRXIbLpjGS7Ed1PMINIdyMhJ5BuIrLb0E0H8QFRKR70/7m0bgAAAABJRU5ErkJggg==
) repeat;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
